<div id="form">
  <div class="row">
    <div class="medium-spacer-top">
      <h2>Edit Your Account</h2>
    </div>

    <div class="small-12 medium-9 medium-centered columns">
      <ul class="tabs" data-tab>
        <li class="tab-title active"><%= link_to "Personal Information", "#personal-information" %></li>
        <li class="tab-title"><%= link_to "Email", "#email" %></li>
        <li class="tab-title"><%= link_to "Password", "#password" %></li>
        <li class="tab-title"><%= link_to "Cancel Account", "#cancel-account" %></li>
      </ul>
    </div>

    <div class="tabs-content">
      <!-- Peresonal Information Tab Content -->
      <div class="content active" id="personal-information">
        <%= form_for(current_user) do |f| %>
          <div class="small-12 medium-8 medium-centered columns">
            <div class="small-spacer">
              <%= f.text_field :name, placeholder: "First Name", class: "border-bottom" %>
            </div>
            <p><%= current_user.role if current_user.role == "admin"  %></p>

            <%= f.submit "Update My Personal Information", class: "button expand notice" %>
          </div>
        <% end %>
      </div>

      <!-- Email Tab Content -->
      <div class="content" id="email">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="small-12 medium-8 medium-centered columns">
          <%= devise_error_messages! %>

          <div class="medium-spacer-top small-spacer">
            <%= f.email_field :email, placeholder: "Email", class: "border-bottom" %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

              <%= f.password_field :current_password, autocomplete: "off", placeholder: "Password (required to confirm your changes)", class: "border-bottom" %>
          </div>

          <%= f.submit "Update My Account", class: "button expand notice" %>
        </div>
          
        <% end %>
      </div>

      <!-- Password Tab Content -->
      <div class="content" id="password">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="small-12 medium-8 medium-centered columns">
          <%= devise_error_messages! %>

          <div class="medium-spacer-top small-spacer">
            <%= f.password_field :password, placeholder: "Enter your new password", class: "border-bottom" %>

            <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password (required to confirm your changes)", class: "border-bottom" %>
          </div>

          <%= f.submit "Update My Account", class: "button expand notice" %>
        </div>

        <% end %>
          
      </div>

      <!-- Cancel Account Tab Content -->
      <div class="content" id="cancel-account">
        <div class="small-12 medium-6 medium-centered columns">
          <div class="medium-spacer-top">
            <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button expand alert" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="small-12 medium-3 medium-centered columns">
  <div class="small-spacer-top">
    <div class="text-center">
      <p><%= link_to "Cancel", :back %></p>
    </div>
  </div>
</div>