<div id="about">
	<!-- Picture of My Family -->
	<div class="about-header">
	</div>

	<!-- Bio -->
	<div class="row" id="introduction">
		<div class="medium-spacer-top">
			<h1 class="text-center">Hi, I'm Lauralee Flores</h1>
		</div>
		<!-- <h2>I'm a Wife, Mother, Online Entrepreneur, and Web Developer.</h2> -->
	</div>

	<!-- Bio -->
	<div class="row">
		<div class="small-12 columns">
			<div class="small-spacer-bottom">
				<p>I've been working on websites in a professional setting since 2006.  I have a masters degree in applied psychology with an emphasis in human-computer interaction which basically means I understand the psychology behind how to make a website users love. I have hired, trained, and managed a team of usability and web analytic professionals. I was the lead web analyst for the University of Idaho.</p>
				<p>I have developed and taught university courses on topics such as human-computer interaction, principles of usability, introduction to psychology, cognitive development, and others. I began learning HTML and CSS in college and in 2012 I jumped into learning Ruby on Rails. I learned in order to create a business idea and I had no idea I would love it so much.</p>
				<p>I am the web designer at <%= link_to "KickoffLabs", "http://www.kickofflabs.com" %>. When I'm not working at KickoffLabs, you might find me spending time with my family, reading (I am a voracious reader), or working on one of my side projects. Right now I'm creating <%= link_to "memorates", "http://www.memorates.com" %>.</p>
			</div>

			<!-- <div class="small-10 medium-6 small-centered medium-centered columns">
				<div class="medium-spacer-bottom">
					<%= link_to "Sign Up For Free", new_user_registration_path, class: "button expand" %>
				</div>
			</div> -->
		</div>
	</div>

	<!-- Current Projects -->
	<div id="home-work">
		<div class="row">
			<div class="medium-spacer-top">
				<h4 class="text-center mini-spacer-bottom">
					My Current Projects
				</h4>
			</div>
		</div>

		<div class="row big-spacer-bottom">
			<!-- MajorFinder -->
			<div class="small-12 medium-6 columns portfolio">
				<%= link_to image_tag('work/majorfinder.jpg'), work_majorfinder_path, class: "border" %>
				<h3><%= link_to	"Major Finder", work_majorfinder_path %></h3>
			</div>

			<!-- Discovery -->
			<div class="small-12 medium-6 columns portfolio">
				<%= link_to image_tag('work/discovery.jpg'), work_discovery_path, class: "border" %>
				<h3><%= link_to "Discovery", work_discovery_path %></h3>
			</div>
		</div>
	</div>

	<!-- Create Your Business Idea -->
	<section class="create-your-business-idea overlay">
		<div class="row">
			<div class="small-12 columns big-spacer">
				<h3>Create Your Business Idea</h3>
				<h4>Learn Ruby on Rails</h4>
				<div class="row">
					<div class="small-12 medium-8 small-centered columns">
						<p>Learning to code was one of the most liberating experiences of my life. I will teach you the hottest web development language out there.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 medium-6 small-centered columns">
						<%= link_to "Learn More", resources_path, class: "button expand" %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="resources-training">
		<div class="row">
			<div class="small-12 columns big-spacer">
				<!-- gift box illustration -->
				<div class="gift-box"></div>
				<h3>Resources &amp; Tranining</h3>
				<div class="row">
					<div class="small-12 medium-7 small-centered columns">
						<p>My gift to you: I have put together resources and training material so that you can make incredible websites.</p>
					</div>
				</div>

				<div class="row">
					<div class="small-12 medium-6 small-centered columns">
						<% if current_user %>
							<%= link_to "Give Me Free Stuff", resources_path, class: "button expand" %>
						<% else %>
							<%= link_to "Give Me Free Stuff", new_user_registration_path, class: "button expand" %>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>
