<div id="comingsoon-intro">
	<div class="row">
		<h1 class="text-center upper">Thank you</h1>
		<h1 class="text-center">for taking this journey with me!</h1>
	</div>
</div>

<!-- <div class="blog">
	<div class="row">
		<div class="big-spacer-top medium-spacer-bottom">
			<h2><%= link_to "A Little About Me and Why I Decided to Start This Training Series", about_me_path %></h2>
			<div class="small-12 columns small-spacer-bottom">
				<p>I've been thinking about creating these resources for some time now.  In this post I explain a little bit my early failures and what they taught me.  Ultimately, this is what I am going to do my best to help you avoid.</p>
			</div>
			<div class="small-12 medium-8 medium-centered columns">
				<%= link_to "View Article", about_me_path, class: 'button expand' %>
			</div>
		</div>
	</div>
</div> -->

<div id="freebie">
	<div class="row">
		<div class="big-spacer">
			<h2><%= link_to "Something That Every Web Project Needs", freeimages_path %></h2>
			<h3>Here's one of many resources I'll be giving you: high-quality images and icons.</h3>
			<%= link_to image_tag("images-thanks.png"), freeimages_path %>
			<p>I've literally spent $1,000's of dollars on images because I didn't know where to find <em>beautiful, high-quality, FREE images</em>.  I'll share the ones I've collected and how to find them yourself.</p>
			<p>This is my way of saying thank you for signing up on lauraleeflores.com.  I sincerely hope this is an extremely valuable resource for you on your journey to making remarkable websites.</p>
			<div class="small-12 medium-8 medium-centered columns">
				<%= link_to "Gimme Free Images!", freeimages_path, class: "button expand button-pink" %>
				<!-- Later make this button read "Add This Resource to My Account" -->
			</div>
		</div>
	</div>
</div>

<div id="user-input">
	<div class="row">
		<div class="big-spacer">
			<h2>I Have a Request...</h2>
			<p>I'm working hard creating resources and training that <em>I think</em> you'll love. But, I'm honestly not sure if I'm focusing on what you <em>most want to learn</em>.</p>
			<p>Let's say we were sitting together at the computer for the next 15 minutes.  And you could ask me anything about websites, what would you want to me to show you?  What is the first thing you would want to learn about?</p>
			<%= render 'feedbacks/form' %>
		</div>
	</div>
</div>