<div class="row">
	<div class="big-spacer-top">
		<h2>Free to Use - No Attribution Required - Images</h2>
	</div>
</div>

<div class="row">
	<div class="small-spacer-top text-center">
		<p>Every web project needs high-quality images.  In fact, the images you use can make a difference between an average design and a beautiful design. Here are some incredible resources for any web project.</p>
	</div>
</div>

<div class="row medium-spacer">
	<div class="free-image-wrapper">
		<div class="small-6 columns">
			<%= link_to image_tag("unsplash.jpg"), "http://unsplash.com/" %>
			<h3>Unsplash</h3>
			<p>Free <%= link_to "(do whatever you want)", "http://creativecommons.org/publicdomain/zero/1.0", class: "pink-link-center" %> hi-resolution photos. 10 new photos every 10 days.</p>
			<%= link_to "View Unsplash Photos", "http://unsplash.com/", class: "button expand"  %>
		</div>
	</div>
	<div class="free-image-wrapper">
		<div class="small-6 columns">
			<%= link_to image_tag("picjumbo.jpg"), "http://picjumbo.com/" %>
			<h3>PicJumbo</h3>
			<p>Totally free photos for your commercial and personal works from <%= link_to "Viktor Hanacek", "https://twitter.com/viktorhanacek", class: "pink-link-center" %></p>
			<%= link_to "View PicJumbo Photos", "http://picjumbo.com/", class: "button expand" %>
		</div>
	</div>
</div>

<div class="row small-spacer">
	<div class="free-image-wrapper">
		<div class="small-6 columns">
			<%= link_to image_tag("pixabay.jpg"), "http://pixabay.com/" %>
			<h3>Pixabay</h3>
			<p>Search over 240,000 free photos, illustrations, and vector graphics.</p>
			<%= link_to "View Pixabay Photos", "http://pixabay.com/", class: "button expand" %>
		</div>
	</div>
	<div class="free-image-wrapper">
		<div class="small-6 columns">
			<%= link_to image_tag("gratisography.jpg"), "http://www.gratisography.com/" %>
			<h3>Gratisography</h3>
			<p>Free, often times silly, high resolution pictures by <%= link_to "Ryan McGuire", "http://www.laughandpee.com/", class: "pink-link-center" %></p>
			<%= link_to "View Gratisography Photos", "http://www.gratisography.com/", class: "button expand" %>
		</div>
	</div>
</div>

<div class="row small-spacer">
	<div class="free-image-wrapper">
		<div class="small-6 columns">
			<%= link_to image_tag("morguefile.jpg"), "http://www.morguefile.com/archive" %>
			<h3>MorgueFile</h3>
			<p>Search for free high resolutions stock photos created by <%= link_to "Michael Connors", "https://www.linkedin.com/in/mconnors", class: "pink-link-center" %>.</p>
			<%= link_to "View MorgueFile Photos", "http://www.morguefile.com/archive", class: "button expand" %>
		</div>
	</div>
	<div class="free-image-wrapper">
		<div class="small-6 columns">
			<%= link_to image_tag("newtownsend.jpg"), "http://nos.twnsnd.co/" %>
			<h3>New Old Stock</h3>
			<p>Vintage photos from the public archives free of known copyright restrictions.</p>
			<%= link_to "View New Old Stock Photos", "http://nos.twnsnd.co/", class: "button expand" %>
		</div>
	</div>
</div>

<div class="row small-spacer">
	<div class="small-6 columns">
		<%= link_to image_tag("freerange.jpg"), "http://freerangestock.com/popular_photos.php" %>
		<h3>FreeRange</h3>
		<p>Stock photos for free</p>
		<%= link_to "View FreeRange Photos", "http://freerangestock.com/popular_photos.php", class: "button expand" %>
	</div>
	<div class="small-6 columns">
		<%= link_to image_tag("publicdomain.jpg"), "http://www.publicdomainpictures.net/" %>
		<h3>Public Domain Pictures</h3>
		<p>Free public domain pictures</p>
		<%= link_to "View Public Domain Pictures", "http://www.publicdomainpictures.net/", class: "button expand" %>
	</div>
</div>

<div class="row small-spacer">
	<div class="small-6 columns">
		<%= link_to image_tag("flickrcommons.jpg"), "https://www.flickr.com/commons/" %>
		<h3>The Commons on Flickr</h3>
		<p>The key goal of The Commons is to share hidden treasure from the world's public photography archives.</p>
		<%= link_to "View Commons Photos on Flickr", "https://www.flickr.com/commons/", class: "button expand" %>
	</div>
	<div class="small-6 columns">
		<%= link_to image_tag("deathtostock.jpg"), "http://deathtothestockphoto.com/" %>
		<h3>Death to Stock</h3>
		<p>Free photos sent to you by email every month. For commercial use, your blog posts, social accounts, and mockups.</p>
		<%= link_to "Sign Up for Death to Stock Photos", "http://deathtothestockphoto.com/", class: "button expand" %>
	</div>
</div>

<div class="row">
	<div class="big-spacer-top">
		<h2>Free to Use - Attribution Required - Images</h2>
	</div>
</div>

<div class="row small-spacer">
	<div class="small-6 columns">
		<%= link_to image_tag('markusspikes.jpg'), "#" %>
		<h3>Markus Spiske</h3>
		<p>Beautiful high-quality free images to use with the requirement that you attribute the image to Markus like this: Photo: Markus Spiske / <%= link_to "www.temporausch.com", "http://www.temporausch.com/", class: "pink-link-center" %></p>
		<%= link_to "View Markus Spiske's Photos", "http://www.temporausch.com/", class: 'button expand' %>
	</div>
	<div class="small-6 columns">
		<%= link_to image_tag("flickrcreativecommons.jpg"), "https://www.flickr.com/search?sort=relevance&license=1%2C2%2C3%2C4%2C5%2C6&text=work" %>
		<h3>Flickr - Creative Commons Photos</h3>
		<p>Some incredible photos with varying restrictions - some are completely free and others have attribution requirements or other restrictions.</p>
		<%= link_to "View Flickr Pictures", "https://www.flickr.com/search?sort=relevance&license=1%2C2%2C3%2C4%2C5%2C6&text=work", class: "button expand" %>
	</div>
</div>