<div id="header">
	<!-- Intro Text -->
	<div class="header-call">
		<div class="row">
			<div class="small-12 medium-11 medium-centered columns text-center">
				<h1 class="animated fadeInUp">Creating Ruby on Rails Applications that are <em>Minimal</em>, <em>Usable</em>, and <em>Persuasive</em>.</h1>
			</div>
		</div>
	</div>
</div>

<div class="off-white" id="home-work">
	<div class="big-spacer">
		<div class="row">
			<h1 class="text-center">Some of My Work</h1>
			<div class="medium-spacer">
				<div class="small-12 medium-6 columns portfolio">
					<%= link_to image_tag('work/majorfinder.jpg'), work_majorfinder_path, class: "border" %>
					<h3><%= link_to "Major Finder", work_majorfinder_path %></h3>
				</div>
				<div class="small-12 medium-6 columns portfolio">
					<%= link_to image_tag('work/discovery.jpg'), "#", class: "border" %>
					<h3><%= link_to "Discovery", "#" %></h3>
				</div>
			</div>
		</div>
	</div>
<!-- 
	<div class="row">
		<div class="medium-spacer">
			<div class="small-12 medium-6 columns">
				<%= image_tag 'code.jpg', class: "border" %>
				<h3>Epitome</h3>
				<p>One-on-one coaching to discovering your ideal self and ideal career.</p>
				<%= link_to "Check Out This Project", "#", class: "button expand" %>
			</div>
			<div class="small-12 medium-6 columns">
				<%= image_tag 'code.jpg', class: "border" %>
				<h3>Blocipedia</h3>
				<p>A fun and easy way to find the perfect major and career.</p>
				<%= link_to "Check Out This Project", "#", class: "button expand" %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="medium-spacer">
			<div class="small-12 medium-6 columns">
				<%= image_tag 'code.jpg', class: "border" %>
				<h3>Bloccit</h3>
				<p>A fun and easy way to find the perfect major and career.</p>
				<%= link_to "Check Out This Project", "#", class: "button expand" %>
			</div>
			<div class="small-12 medium-6 columns">
				<%= image_tag 'code.jpg', class: "border" %>
				<h3>Web Analytics API</h3>
				<p>A fun and easy way to find the perfect major and career.</p>
				<%= link_to "Check Out This Project", "#", class: "button expand" %>
			</div>
		</div>
	</div>
 -->
</div>


<div class="gray-strip">
	<div class="small-spacer">
		<div class="row">
			<div class="small-12 medium-6 medium-centered columns">
				<% if user_signed_in? %>
					<%= link_to	"Thank You For Signing Up", training_path, class: "button expand button-pink" %>
				<% else %>
					<%= link_to "Sign up, for free!", "#", "data-reveal-id" => "sign-up-modal", class: "button expand button-pink" %>
				<% end %>
			</div>
		</div>
	</div>
</div>