<div id="header">
	<!-- Intro Text -->
	<div class="header-call">
		<div class="row">
			<div class="small-12 medium-11 medium-centered columns text-center">
				<h1 class="animated fadeInUp">Creating Ruby on Rails Applications that are <em>Beautiful</em> and <em>Usable</em>.</h1>
			</div>
		</div>
	</div>
</div>

<div class="off-white big-spacer" id="home-work">
	<div class="row">
		<h2 class="text-center">What I'm Working On</h2>
	</div>

	<!-- Major Finder and Discovery -->
	<div class="row">
		<div class="small-spacer-top">
			<div class="small-12 medium-6 medium-centered columns portfolio">
				<%= link_to image_tag('work/memorates.jpg'), "http://www.memorates.com", class: "border" %>
				<h3><%= link_to	"Memorates", "http://www.memorates.com" %></h3>
			</div>
		</div>
	</div>
</div>

<div class="off-white big-spacer-top" id="blog-post-listing">
	<div class="row">
		<h2 class="text-center">My Latest Posts</h2>
	</div>
	<!-- Latest Posts -->
	<div class="row">
		<div class="small-spacer-top">
			<div class="small-12 columns post-listing big-spacer-bottom">
				<% @post.each do |p| %>
					<h3><%= link_to p.title, p %></h3>
					<p class="small centered"><%= time_ago_in_words(p.created_at) %> ago <span>|</span> <%= p.reading_time %> minute read</p>
					<%= link_to markdown(truncate(p.body, length: 230, omission: " ... ")), p, class: "blog-link" %>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>


<div class="gray-strip">
	<div class="small-spacer">
		<div class="row">
			<div class="small-12 medium-6 medium-centered columns">
				<% if user_signed_in? %>
					<h3>Welcome, <%= current_user.name %>!</h3>
					<%= link_to	"Access Your Resources", resources_path, class: "button expand button-pink" %>
				<% else %>
					<%= link_to "Sign up, for free!", "#", "data-reveal-id" => "sign-up-modal", class: "button expand button-pink" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="footer">
  <footer>
    <div class="row text-center">
      <div class="small-6 small-centered columns">
        <p>Made with ♥ in Tucson, AZ</p>
      </div>
    </div>
  </footer>
</div>



<!-- Blocipedia and Bloccit -->
<!-- <div class="row big-spacer-bottom">
	<div class="medium-spacer">
		<div class="small-12 medium-6 columns portfolio">
			<%= link_to image_tag('work/bloccit.jpg'), work_bloccit_path, class: "border" %>
			<h3><%= link_to "Training Community", work_bloccit_path %></h3>
		</div>
		<div class="small-12 medium-6 columns portfolio">
			<%= link_to image_tag('work/wikiland.jpg'), work_wikiland_path, class: "border" %>
			<h3><%= link_to "WikiLand", "#" %></h3>
		</div>
	</div>
</div> -->

<!-- Web Analytics API and ???  -->
<!-- 	<div class="row big-spacer-bottom">
<div class="medium-spacer-top">
	<div class="small-12 medium-6 columns portfolio">
		<%= link_to image_tag('code.jpg'), "#", class: "border" %>
		<h3><%= link_to "Web Analytics API", "#" %></h3>
	</div>
	<div class="small-12 medium-6 columns portfolio">
		<%= link_to image_tag('code.jpg'), "#", class: "border" %>
		<h3><%= link_to "Web Analytics API", "#" %></h3>
	</div>
</div>
</div>
