<div id="header">
	<!-- Intro Text -->
	<div class="header-call">
		<div class="row">
			<div class="small-12 medium-11 medium-centered columns text-center">
				<h1 class="animated fadeInUp">Creating Ruby on Rails Applications that are <em>Minimal</em>, <em>Usable</em>, and <em>Persuasive</em>.</h1>
			</div>
		</div>
	</div>
</div>

<div class="off-white big-spacer-top" id="home-work">
	<div class="row">
		<h2 class="text-center">Some of My Work</h2>
	</div>

	<!-- Major Finder and Discovery -->
	<div class="row">
		<div class="small-spacer-top">
			<div class="small-12 medium-6 columns portfolio">
				<%= link_to image_tag('work/majorfinder.jpg'), work_majorfinder_path, class: "border" %>
				<h3><%= link_to "Major Finder", work_majorfinder_path %></h3>
			</div>
			<div class="small-12 medium-6 columns portfolio">
				<%= link_to image_tag('work/discovery.jpg'), work_discovery_path, class: "border" %>
				<h3><%= link_to "Discovery", work_discovery_path %></h3>
			</div>
		</div>
	</div>

	<!-- Blocipedia and Bloccit -->
	<div class="row big-spacer-bottom">
		<div class="medium-spacer">
			<div class="small-12 medium-6 columns portfolio">
				<%= link_to image_tag('work/bloccit.jpg'), work_bloccit_path, class: "border" %>
				<h3><%= link_to "Training Community", work_bloccit_path %></h3>
			</div>
			<div class="small-12 medium-6 columns portfolio">
				<%# link_to image_tag('code.jpg'), "#", class: "border" %>
				<h3><%# link_to "Blocipedia", "#" %></h3>
			</div>
		</div>
	</div>

	<!-- Web Analytics API and ???  -->
<!-- 	<div class="row big-spacer-bottom">
		<div class="medium-spacer-top">
			<div class="small-12 medium-6 columns portfolio">
				<%= link_to image_tag('code.jpg'), "#", class: "border" %>
				<h3><%= link_to "Web Analytics API", "#" %></h3>
			</div>
			<div class="small-12 medium-6 columns portfolio">
				<%= link_to image_tag('code.jpg'), "#", class: "border" %>
				<h3><%= link_to "Web Analytics API", "#" %></h3>
			</div>
		</div>
	</div>

</div>


<div class="gray-strip">
	<div class="small-spacer">
		<div class="row">
			<div class="small-12 medium-6 medium-centered columns">
				<% if user_signed_in? %>
					<%= link_to	"Thank You For Signing Up", training_path, class: "button expand button-pink" %>
				<% else %>
					<%= link_to "Sign up, for free!", "#", "data-reveal-id" => "sign-up-modal", class: "button expand button-pink" %>
				<% end %>
			</div>
		</div>
	</div> -->
</div>