<div class="off-white" id="home-why-sign-up">
	<div class="big-spacer">
		<div class="row">
			<h1 class="text-center">Why Sign Up</h1>
			<div class="medium-spacer-top medium-spacer-bottom">
				<div class="row">
					<div class="small-12 medium-6 columns">
						<%= image_tag 'code.jpg' %>
					</div>
					<div class="small-12 medium-6 columns">
						<h4>Bring your ideas to life. Learn to program.</h4>
						<p>The internet is one of the most valuable resources.  You can connect with <em><strong>billions</strong></em> of people. Billions.</p>
						<p>You have a great idea. Do you know how to <strong>create that idea</strong> online? If not, I'll teach you how.</p>
				</div>
			</div>
			<div class="big-spacer-top small-spacer-bottom">
				<div class="row">
					<div class="small-12 medium-6 medium-push-6 columns">
						<%= image_tag 'code.jpg' %>
					</div>
					<div class="small-12 medium-6 medium-pull-6 columns">
						<h4>Make Website People Love to Use</h4>
					
					
						<p>Either way, once you've learned to program <em><strong>you realize instantly how important the interface is</strong></em>. How to make an interface that the user loves.  One that is beautiful, minimal, easy to use, and speaks to the user.</p>
						<p>That's why you should sign up. <em><strong>Because making an impact online is so much more than creating a website.</strong></em> I will teach you the technology <em><strong>and</strong></em> the psychology behind making amazing websites.</p>
					</div>
				</div>
			</div>
					
					<div class="small-spacer row">
						<div class="small-6 small-centered columns">
							<% if user_signed_in? %>
								<%= link_to	"What Do You Want To Learn?", new_feedback_path, class: "button expand button-pink" %>
							<% else %>
								<%= link_to "Sign Up For Free", "#", "data-reveal-id" => "sign-up-modal", class: "button expand button-pink" %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="big-spacer">
	<div class="row text-center">
		<h1>What You Get By Signing Up</h1>
		<div class="small-spacer">
			<div class="small-12 medium-6 columns">
				<div class="what-you-get">
					<%= image_tag("free-resources.png") %>
				</div>
				<p>Every web project will need access to certain resources, such as high-quality images, usability test templates, excellent designs, and so on.</p>
			</div>
			<div class="small-12 medium-6 offset-1 columns">
				<div class="what-you-get">
					<%= image_tag("step-by-step.png") %>
				</div>
				<p>Learn, through guided step-by-step training, how to create beautiful and persuasive web apps in ruby on rails, even if you're not a designer or developer.</p>
			</div>
		</div>
	</div>
</div>


<div class="gray-strip">
	<div class="small-spacer">
		<div class="row">
			<div class="small-6 small-centered columns">
				<% if user_signed_in? %>
					<%= link_to	"Thank You For Signing Up", comingsoon_path, class: "button expand button-pink" %>
				<% else %>
					<%= link_to "Sign up, for free!", "#", "data-reveal-id" => "sign-up-modal", class: "button expand button-pink" %>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<footer>
		<div class="row text-center">
			<div class="small-6 small-centered columns">
				<p>Made with ♥ in Tucson, AZ</p>
			</div>
		</div>
	</footer>
</div>

<!-- Sign Up Modal
============================== -->
<div id="sign-up-modal", class="reveal-modal" data-reveal >
	<% if user_signed_in? %>
		<h2 class="text-center">Congratulations, you've already signed up!</h2>
		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<p>we're waiting for you to confirm your account</p>
		<% else %>
			<p>you've confirmed your account and are signed up.</p>
		<% end %>
		<!-- if they haven't confirmed their account.. link to resendconfirmation instructions else go to coming soon page. -->
		<p>The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
	<% else %>
		<div class="small-spacer">
			<h2 class="text-center">Sign Up For Free</h2>
		</div>
		<div id="form">
			<div class="row">
				<div class="small-12 medium-8 medium-centered columns">
					<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						<%= devise_error_messages! %>

						<%= f.text_field :name, autofocus: true, placeholder: "First Name", class: "border-bottom" %>

						<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "border-bottom" %>

						<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "border-bottom" %>

						<%= f.submit "Send Me Training When It's Available", class: "button expand sign-up" %>
					<% end %>
				</div>
			</div>

		<!-- Link to Sign Up Modal -->
	  <div class="medium-spacer-top">
	  	<div class="row">
	  		<div class="small-3 small-centered columns">
	  			<p><a href="#" data-reveal-id="sign-in-modal" class="secondary button expand">Sign In</a></p>
	  		</div>
	  	</div>
	  </div>
	  <!-- <p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
	  <p>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.</p> -->
	<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>


<!-- Sign In Modal
=================================== -->
<div id="sign-in-modal", class="reveal-modal" data-reveal >
	<% if user_signed_in? %>
		<h2 class="text-center">Welcome!</h2>
		<p>Information will be coming soon.</p>
	<% else %>
		<div class="small-spacer">
			<h2 class="text-center">Sign In</h2>
		</div>
		
	  <!-- <p>Reveal makes these very easy to summon and dismiss. The close button is simply an anchor with a unicode character icon and a class of <code>close-reveal-modal</code>. Clicking anywhere outside the modal will also dismiss it.</p>
	  <p>Finally, if your modal summons another Reveal modal, the plugin will handle that for you gracefully.</p> -->
	  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  	<div id="form">
	  		<!-- Sign In Form -->
	  		<div class="row">
		  		<div class="small-7 small-centered columns">
		  			<!-- Email -->
					  <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "border-bottom" %>

					  <!-- Password -->
					  <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "border-bottom" %>

					  <!-- Remember Me -->
					  <% if devise_mapping.rememberable? -%>
					    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
					  <% end -%>

					  <!-- Sign Up Button -->
					  <%= f.submit "Sign in", class: "button expand" %>
		  		</div>
		  	</div>

		  	<!-- Link to Sign Up Modal -->
			  <div class="medium-spacer-top">
			  	<div class="row">
			  		<div class="small-3 small-centered columns">
			  			<p><a href="#" data-reveal-id="sign-up-modal" class="secondary button expand">Sign Up</a></p>
			  		</div>
			  	</div>
			  </div>


	  	</div>
		<% end %>
	<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
	