<div id="resources-landing">

	<!-- Header -->
	<section class="intro">

		<!-- Heading -->
		<div class="row text-center">
			<div class="small-12 columns big-spacer-top mini-spacer-bottom">
				<h1>Resources &amp; Training</h1>
			</div>
		</div>

		<!-- Tagline -->
		<div class="row text-center">
			<div class="small-12 medium-8 small-centered columns medium-spacer-bottom">
				<h2>I’m beginning to create resources that will allow you to create incredible websites.</h2>
			</div>
		</div>

	</section>

	<!-- Free Stuff -->
	<section class="offers">
		<div class="row" data-equalizer>

			<!-- Free Images -->
			<div class="small-12 large-6 columns card" data-equalizer-watch>
				<div class="image-container">
					<%= image_tag "web-page-illustration.png" %>
				</div>
				<div class="content-container">
					<h4>Free Images</h4>
					<p>I've literally spent $1,000's of dollars on images because I didn't know where to find beautiful, high-quality, FREE images. I'll share the ones I've collected and how to find them yourself.</p>
					<p><%= link_to "Gimme Free Images", freeimages_path, class: "button expand" %></p>
				</div>
			</div>

			<!-- Free Rails Course -->
			<div class="small-12 large-6 columns card" data-equalizer-watch>
				<div class="image-container">
					<%= image_tag "web-app-illustration.png" %>
				</div>
				<div class="content-container">
					<h4>Learn Rails</h4>
					<p>Ruby on Rails is the fastest growing web development language and rails programers are the best paid with the highest demand. Why? Because you create and iterate on your application fast, really fast. </p>
					<p><%= link_to "Notify Me When Course Is Ready", freeimages_path, class: "button expand" %></p>
				</div>
			</div>
		</div>
	</section>
</div>

<div id="user-input">
	<div class="row">
		<div class="big-spacer">
			<h2>I Have a Request...</h2>
			<p>I'm working hard creating resources and training that <em>I think</em> you'll love. But, I'm honestly not sure if I'm focusing on what you <em>most want to learn</em>.</p>
			<p>If I were to create a course or a valuable resource <em>just for you</em>, what would it be? What do you want to learn from me?</p>
			<%= render 'feedbacks/form' %>
		</div>
	</div>
</div>