<div class="blue-background">
	<div class="row text-center big-spacer-top">
		<h1 class="animated fadeInDown">Training Community</h1>
		<p class="no-tagline animated fadeIn">Learn web development. Suggest training material. Connect with other developers.</p>
	</div>
</div>

<div class="row big-spacer-top">
	<div class="small-12 medium-6 medium-centered columns" id="built-using">
		<ul>
			<li>Built Using</li>
			<li>Ruby & Ruby on Rails</li>
			<li>HTML / CSS / Javascript / AJAX</li>
			<li>SASS</li>
			<li>Heroku</li>
			<li>Postgresql</li>
			<li>Minimal Design</li>
		</ul>
	</div>
</div>

<div class="background-gray small-spacer-top">
	<div class="row">
		<div class="small-12 columns big-spacer">
			<%= link_to image_tag('work/bloccit-home.png'), "http://lauralee-bloccit.herokuapp.com/" %>
		</div>
	</div>
</div>
<div class="row medium-spacer">
	<div class="small-12 columns">
		<h3>Nested Routing</h3>
		<%= image_tag 'work/bloccit-nested-resources.jpg' %>
	</div>
</div>

<div class="row medium-spacer">
	<div class="small-12 columns">
		<h3>Posts in Markdown</h3>
		<div class="small-12 medium-10 medium-centered columns">
			<%= image_tag 'work/bloccit-markdown.gif' %>
		</div>
	</div>
</div>

<div class="row medium-spacer">
	<div class="small-12 columns">
		<h3>Add Avatar Image and Images to Posts</h3>
		<%= image_tag 'work/bloccit-images.jpg' %>
	</div>
</div>

<div class="row medium-spacer">
	<div class="small-12 columns">
		<h3>AJAX Commenting on Posts</h3>
		<%= image_tag 'work/bloccit-ajax.jpg' %>
	</div>
</div>

<div class="row medium-spacer">
	<div class="small-12 columns">
		<h3>Voting</h3>
		<%= image_tag 'work/bloccit-vote.jpg' %>
	</div>
</div>

<div class="row medium-spacer">
	<div class="small-12 columns">
		<h3>Favorite a Vote</h3>
		<%= image_tag 'work/bloccit-favorite.jpg' %>
	</div>
</div>


<div class="row">
	<div class="small-12 medium-6 medium-centered columns big-spacer-bottom">
		<%= link_to "Visit the Training Community", "http://lauralee-bloccit.herokuapp.com/", class: "button expand", id: "ghost-button" %>
	</div>
</div>