<div class="row" id="course_show">
	<div class="medium-spacer-top">
		<h2><%= @lesson.title %></h2>
		<p><%= markdown @lesson.body %></p>
	
		<p>
			<% if @previous_lesson.first.present? %>
				<%= link_to "< Previous Lesson", lesson_path(@previous_lesson.first.id), class: "pink-link-left" %>
			<% end %>
			<% if @next_lesson.first.present? %>
				<%= link_to "Next Lesson >", lesson_path(@next_lesson.first.id), class: "right pink-link-left" %>
			<% end %>
		</p>

		<p class="centered small-spacer-top"><%= link_to "Go back to all lessons.", lessons_path, class: "pink-link-center" %></p>
	</div>
</div>
