<%= render 'lessons/breadcrumb' %>

<div class="row git-lessons" id="course_show">
	<div class="small-spacer-top">
		<h2><%= @lesson.title %></h2>
		<p><%= markdown @lesson.body %></p>
	
		<p>
			<% if @lesson.previous_lesson.present? %>
				<%= link_to "< Previous Lesson", course_lesson_path(@course, @lesson.previous_lesson.first.slug), class: "pink-link-left" %>
			<% end %>
			<% if @lesson.next_lesson.present? %>
				<%= link_to "Next Lesson >", course_lesson_path(@course, @lesson.next_lesson.first.slug), class: "right pink-link-right" %>
				<!-- Form -->
				<%# link_to(lesson_path(@next_lesson.slug), class: "right pink-link-left") do %>
				  <!-- Complete and Next Lesson > -->
				  <%# @lesson.complete_lesson %>
				<%# end %>
				
			<% end %>
		</p>
				

		<p class="centered small-spacer-top"><%= link_to "Back to #{@course.name}", course_path(@course), class: "pink-link-center" -%></p>

		<% if policy(@lesson).edit? %>
			<p class="centered"><%= link_to "Edit Lesson", edit_course_lesson_path(@course, @lesson), class: "blue-link-center" %></p>
		<% end %>

		<% if policy(@lesson).destroy? %>
			<p class="centered"><%= link_to "Delete Lesson", course_lesson_path(@course, @lesson), method: :delete %></p>
		<% end %>
	</div>
</div>
