<div class="row git-lessons" id="course_show">
	<div class="medium-spacer-top">
		<h2><%= @lesson.title %></h2>
		<p><%= markdown @lesson.body %></p>
	
		<p>
			<% if @previous_lesson.present? %>
				<%= link_to "< Previous Lesson", course_lesson_path(@course, @previous_lesson.slug), class: "pink-link-left" %>
			<% end %>
			<% if @next_lesson.present? %>
				<%= link_to "Next Lesson >", course_lesson_path(@course, @next_lesson.slug), class: "right pink-link-right" %>
				<!-- Form -->
				<%# link_to(lesson_path(@next_lesson.slug), class: "right pink-link-left") do %>
				  <!-- Complete and Next Lesson > -->
				  <%# @lesson.complete_lesson %>
				<%# end %>
				
			<% end %>
		</p>
				

		<p class="centered small-spacer-top"><%= link_to "Go back to this course", course_path(@course), class: "pink-link-center" %></p>

		<% if policy(@lesson).edit? %>
			<%= link_to "Edit", edit_course_lesson_path(@course, @lesson) %>
		<% end %>
	</div>
</div>
