<div id="form">
  <%= form_for(@feedback) do |f| %>
    <% if @feedback.errors.any? %>
      <div id="error_explanation">
        <p class="error"><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</p>

        <ul>
        <% @feedback.errors.full_messages.each do |msg| %>
          <li><p><%= msg %></p></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%= f.text_area :most_interested %>

      <div class="small-12 medium-7 medium-centered columns">
        <%= f.submit "Submit", class: "button expand" %>
      </div>
    </div>
    

  <% end %>

</div>