<div class="row">
  <div class="medium-spacer">
    <h1 class="text-center">Listing Feedback</h1>
  </div>
</div>

<div class="row">
  <% @feedbacks.each do |f| %>
    <div class="panel">
      <%= simple_format(f.most_interested) %>
      <%= link_to 'Show', f %> | <%= link_to 'Edit', edit_feedback_path(f) %> | <%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <%= link_to 'New Feedback', new_feedback_path, class: "button expand" %>
  </div>
</div>