<% if current_user.email == "lauralee@majorfinder.com" %>
  <div class="row medium-spacer-top small-spacer-bottom">
    <h2>Hey Commander!</h2>
    <% @feedbacks.each do |f| %>
      <!-- View all feedback - only for me -->
        <div class="panel">
          <%= simple_format(f.most_interested) %>
          <p class="created-by">Submitted <%= time_ago_in_words(f.created_at) %> ago by <%= f.user.email %>.</p>
          <%= link_to 'View', f, class: "pink-link-left space-right" %> | <%= link_to 'Edit', edit_feedback_path(f), class: "pink-link-left space-left space-right" %> | <%= link_to 'Destroy', f, method: :delete, data: { confirm: 'Are you sure? You will remove this feedback from the database and can\'t get it back.' }, class: "pink-link-left space-left" %>
        </div>
    <% end %>
  </div>
  <hr>
<% end %>


<% if current_user.feedbacks.count > 0 %>
  <div class="row">
    <div class="big-spacer-top small-spacer-bottom">
      <h1 class="text-center">Thank you for your feedback!</h1>
    </div>
  </div>
    
  <div class="row">
    <% current_user.feedbacks.each do |f| %>
      <div class="small-spacer">
        <div class="panel">
          <%= simple_format(f.most_interested) %>
          <p class="created-by">Submitted <%= time_ago_in_words(f.created_at) %> ago by <%= f.user.email %>.</p>
          <%= link_to 'Edit Feedback', edit_feedback_path(f), class: "pink-link-left space-right" %> | <%= link_to 'View Feedback', feedback_path(f), class: "pink-link-left space-left" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="row medium-spacer-top">
    <h2>You Don't Have Any Feedback</h2>
    <p class="text-center">I would sincerely love to hear your input and suggestions. Sincerely.</p>
  </div>
<% end %>

<div class="small-spacer-bottom">
  <div class="row">
    <div class="small-12 medium-6 medium-centered columns">
      <% if current_user.feedbacks.count > 0 %>
        <%= link_to 'Share Another Idea', new_feedback_path, class: "button expand" %>
      <% else %>
        <div class="small-spacer">
          <%= link_to "Share An Idea", new_feedback_path, class: "button expand" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<% if current_user.email == "lauralee@majorfinder.com" %>
  <div class="row medium-spacer-top small-spacer-bottom">
    <h2>Hey Lauralee!</h2>
    <p><%= @users.count %> people signed up so far.</p>
    <% @users.each do |u| %>
      <!-- View all feedback - only for me -->
        <div class="panel">

          <p><%= u.name %></p>
          <p><%= u.email %></p>
          
        </div>
    <% end %>
  </div>
  <hr>
<% end %>