<div id="form" class="small-spacer-top medium-spacer-bottom">
	<%= form_for @post do |f| %>

	<!-- ERROR -->
	<div class="row">
    <div class="small-12 columns">
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <p class="error"><%= pluralize(@post.errors.count, "error") %> prohibited this@post from being saved:</p>
          <ul>
            <% @post.errors.full_messages.each do |msg| %>
              <li><p><%= msg %></p></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <!-- URL -->
	<div class="row">
		<div class="small-12 columns">
			<%= f.text_field :slug, placeholder: "URL", class: "border background" %>
		</div>
	</div>

	<!-- Post Title -->
	<div class="row">
		<div class="small-12 columns">
			<%= f.text_field :title, placeholder: "Post Title", class: "border background" %>
		</div>
	</div>

	<!-- Post Description -->
	<div class="row">
		<div class="small-12 columns">
			<%= f.text_field :description, placeholder: "Post Description", class: "border background" %>
		</div>
	</div>

	<!-- Post Image -->
	<div class="row">
		<%= f.label :image %>
    <div class="row">
      <div class="small-6 columns">
        <%= image_tag @post.image if @post.image.present?  %>
      </div>
      <div class="small-6 columns">
        <%= f.file_field :image %>
      </div>
    </div>
	</div>

	<!-- Post Body -->
	<div class="row">
		<div class="small-12 columns">
			<%= f.text_area :body, placeholder: "Post Body", class: "border background" %>
		</div>
	</div>
	<div class="row">
    <div class="small-6 columns">
			<!-- Published -->
      <%= f.radio_button :published, false %>
      <%= f.label :published, "Do Not Publish", value: false %>
      <%= f.radio_button :published, true %>
      <%= f.label :published, "Publish", value: true %>
			<%= f.label :published_on %>
      <%= f.date_field :published_on, start_year: Time.now.year - 1 %>
			<div class="created_at">
				<% if @post.created_at %>
					created at: <%= @post.created_at.strftime("%B %d, %Y") %>
				<% end %>
			</div>
    </div>

		<!-- General Tags -->
		<div class="small-6 columns">
			<%= f.text_field :tag_list, placeholder: "What other tags should be added to this post?", class: "border background" %>
		</div>
	</div>
	<div class="row">
		<% if @tags %>
			<% @tags.each_slice(1) do |t| %>
				<div class="small-3 columns ">
					<p class="small">
						<%= t.first.name %> (<%= t.first.taggings_count %>)
					</p>
				</div>
			<% end %>
		<% end %>
	</div>

	<!-- Save Button -->
	<div class="row">
		<div class="small-12 medium-7 medium-centered columns">
			<%= f.submit "Save Post", class: "button expand" %>
		</div>
	</div>
	<% end %>
</div>
