<div class="off-white big-spacer-top" id="blog-post-listing">
	<!-- Latest Posts -->
	<% if controller_name == "tags" %>
		<div id="tag-show" class="row">
			<div class="small-12 medium-10 medium-centered columns">
				<h2><%= params[:tag] %></h2>
			</div>
		</div>
	<% else %>
	<% end %>
	<div class="row">
		<div class="small-spacer-top">
			<div class="small-12 columns post-listing big-spacer-bottom">
				<% @posts.each do |p| %>
					<h3><%= link_to p.title, p %></h3>
					<p class="small centered"><%= time_ago_in_words(p.created_at) %> ago <span>|</span> <%= p.reading_time %> minute read</p>
					<%= link_to markdown(truncate(p.body, length: 230, omission: " ... ")), p, class: "blog-link" %>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>