<div id="blog-landing-header">
	<div class="row centered big-spacer-top">
		<% if policy(Post.new).create? %>
			<%= link_to "New Post", new_post_path, class: "pink-link-center" %>
		<% end %>
	</div>
</div>

<% @posts.each do |post| %>
	<div class="row">
		<div class="small-12 medium-10 medium-centered columns small-spacer-top medium-spacer-bottom">
			<div class="blog-landing-list">
				<h2 class="centered"><%= link_to markdown(post.title), post, class: "post-title" %></h2>
				<p class="centered"><%= truncate(markdown(post.body), length: 230, omission: " ... ") { link_to "continue", post, class: 'pink-link-center'} %></p>
				<p class="centered"><small>posted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %></small></p>
			</div>
		</div>
	</div>
<% end %>

<div class="pagination-centered" id="infinite-scrolling">
	<%= will_paginate %>
</div>
