<div class="row" id="blog-post">
	<div class="small-12 medium-10 medium-centered columns big-spacer-top">
		<article>
			<%# binding.pry %>

			<!-- Title, Date, and Tags -->
			<header>

				<h2><%= markdown @post.title %></h2>
				<p class="post-references"><%= @post.created_at.strftime("%B %d, %Y") %> <em class="divider">|</em>
					<% @post.tags.each_with_index do |t, i| %>
						<em class="tags"><%= link_to t.name, tag_path(t.name), class: "pink-link-center" %><%= @post.tags.length - 1 == i ? "" : "," %></em>
					<% end %>
				</p>
			</header>

			<!-- Blog Post Content -->
			<div id="blog-content">
				<%= markdown @post.body %>
			</div>

		</article>
	</div>
</div>

<div id="blog-first-call-to-action">
	<section class="create-your-business-idea overlay">
		<div class="row">
			<div class="small-12 columns big-spacer">
				<h3>Create Your Business Idea</h3>
				<h4>Learn Ruby on Rails</h4>
				<div class="row">
					<div class="small-12 medium-8 small-centered columns">
						<p>Learning to code was one of the most liberating experiences of my life. I will teach you the hottest web development language out there.</p>
					</div>
				</div>
				<div class="row">
					<div class="small-12 medium-6 small-centered columns">
						<%= link_to "Learn More", resources_path, class: "button expand" %>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>



<!-- Find Other Articles with These Tags  -->

<!-- Find out if there are related posts -->
<% if @post.find_related_tags.present? %>
	<div id="light-gray-background">
		<div class="row">
			<div class="small-12 medium-10 medium-centered columns big-spacer">
				<h3 class="title mini-spacer-bottom">Similar Posts</h3>

				<!-- Loop through each related post -->
				<% @post.find_related_tags.limit(5).shuffle.each do |p| %>
					<article class="similar-item small-spacer-bottom">
						<h4><%= link_to markdown(p.title), p, class: "item-title" %></h4>
					</article>
				<% end %>

			</div>
		</div>
	</div>
<% else %>
<% end %>

<div id="blog-second-call-to-action">
	<section class="resources-training">
		<div class="row">
			<div class="small-12 columns big-spacer">
				<!-- gift box illustration -->
				<div class="gift-box"></div>
				<h3>Resources &amp; Tranining</h3>
				<div class="row">
					<div class="small-12 medium-7 small-centered columns">
						<p>My gift to you: I have put together resources and training material so that you can make incredible websites.</p>
					</div>
				</div>

				<div class="row">
					<div class="small-12 medium-6 small-centered columns">
						<% if current_user %>
							<%= link_to "Give Me Free Stuff", resources_path, class: "button expand" %>
						<% else %>
							<%= link_to "Give Me Free Stuff", resources_path, class: "button expand" %>
						<% end %>
					</div>
				</div>

			</div>
		</div>
	</section>
</div>




<!-- Edit this post if you have permission -->
<% if policy(@post).edit? %>
	<div class="row">
		<div class="small-12 columns">
			<div class="small-spacer text-center">
				<%= link_to "Edit Post", edit_post_path(@post), class: "pink-link-center" %>
			</div>
		</div>
	</div>
<% end %>
