<% content_for :title, "#{@post.title} - www.lauraleeflores.com" %>
<% content_for :description, "#{@post.description}" %>
<% content_for :domain, "http://www.lauraleeflores.com#{url_for}" %>
<% content_for :image, "#{@post.image.url}" %>
<div class="row" id="blog-post">
	<div class="small-12 medium-10 medium-centered columns big-spacer-top">
		<article>

			<!-- Title, Date, and Tags -->
			<header>

				<h2><%= markdown @post.title %></h2>
				<p class="post-references"><%= @post.published_on ? @post.published_on.strftime("%B %d, %Y") : 'Not Published' %> <em class="divider">|</em>
					<% @post.tags.each_with_index do |t, i| %>
						<em class="tags"><%= link_to t.name, tag_path(t.name), class: "pink-link-center" %><%= @post.tags.length - 1 == i ? "" : "," %></em>
					<% end %>
				</p>
			</header>

			<!-- Blog Post Content -->
			<div id="blog-content">
				<% if @post.image %>
					<%= image_tag @post.image, class: "post-image" %>
				<% end %>
				<%= markdown @post.body %>
			</div>

		</article>
	</div>
</div>

<!-- ConvertKit Newsletter Opt In -->
<div class="row">
	<div class="small-12">
		<%= render "ck_newsletter" %>
	</div>
</div>

<!-- End ConvertKit Newsletter Opt In  -->


<!-- Find Other Articles with These Tags  -->

<!-- Find out if there are related posts -->
<% if @post.find_related_tags.present? %>
	<div id="light-gray-background">
		<div class="row">
			<div class="small-12 medium-10 medium-centered columns big-spacer">
				<h3 class="title mini-spacer-bottom">Similar Posts</h3>

				<!-- Loop through each related post -->
				<% @post.find_related_tags.limit(5).shuffle.each do |p| %>
					<article class="similar-item small-spacer-bottom">
						<h4><%= link_to markdown(p.title), p, class: "item-title" %></h4>
					</article>
				<% end %>

			</div>
		</div>
	</div>
<% else %>
<% end %>

<!-- Edit this post if you have permission -->
<% if policy(@post).edit? %>
	<div class="row">
		<div class="small-12 columns">
			<div class="small-spacer text-center">
				<%= link_to "Edit Post", edit_post_path(@post), class: "pink-link-center" %>
			</div>
		</div>
	</div>
<% end %>
