<div class="row" id="blog-post">
	<div class="small-12 medium-10 medium-centered columns big-spacer-top">
		<article>

			<!-- Title, Date, and Tags -->
			<header>

				<h2><%= markdown @post.title %></h2>
				<p class="post-references"><%= @post.created_at.strftime("%B %d, %Y") %> <em class="divider">|</em> 
					<% @post.tags.each_with_index do |t, i| %>
						<em class="tags"><%= link_to t.name, tag_path(t.name), class: "pink-link-center" %><%= @post.tags.length - 1 == i ? "" : "," %></em>
					<% end %>
				</p>
			</header>
			
			<!-- Blog Post Content -->
			<div id="blog-content">
				<%= markdown @post.body %>
			</div>

		</article>
		<article class="similar-majors">
			<% @post.find_related_tags.each do |p| %>
				<p><%= p.title %></p>
			<% end %>
		</article>
	</div>
</div>

<div class="similar-posts">

</div>

<div class="row">
	<div class="small-12 columns">
		<div class="small-spacer text-center">
			<% if policy(@post).edit? %>
				<%= link_to "Edit Post", edit_post_path(@post), class: "pink-link-center" %>
			<% end %>
		</div>
	</div>
</div>