<div class="row" id="blog-post">
	<div class="small-12 medium-10 medium-centered columns big-spacer-top">
		<article>

			<!-- Title, Date, and Tags -->
			<header>

				<h2><%= markdown @post.title %></h2>
				<p class="post-references"><%= @post.created_at.strftime("%B %d, %Y") %> <em class="divider">|</em> 
					<% @post.tags.each_with_index do |t, i| %>
						<em class="tags"><%= link_to t.name, tag_path(t.name), class: "pink-link-center" %><%= @post.tags.length - 1 == i ? "" : "," %></em>
					<% end %>
				</p>
			</header>
			
			<!-- Blog Post Content -->
			<div id="blog-content">
				<%= markdown @post.body %>
			</div>

		</article>
	</div>
</div>


<!-- Find Other Articles with These Tags  -->

<!-- Find out if there are related posts -->
<% if @post.find_related_tags.present? %>
	<div id="light-gray-background">
		<div class="row">
			<div class="small-12 medium-10 medium-centered columns big-spacer">
				<h3 class="title mini-spacer-bottom">Similar Posts</h3>

				<!-- Loop through each related post -->
				<% @post.find_related_tags.each do |p| %>
					<article class="similar-item small-spacer-bottom">
						<h4><%= link_to markdown(p.title), p, class: "item-title" %></h4>
						<% p.tags.each_with_index do |t, i| %>
							<em class="tags"><%= link_to t.name, tag_path(t.name), class: "pink-link-center" %><%= p.tags.length - 1 == i ? "" : "," %></em>
						<% end %>
						<% if p.body.length > 130 %>
							<p><%= markdown(truncate(p.body, length: 110, omission: " ... ") { link_to "continue", p, class: 'pink-link-center'}) %></p>

						<% else %>
							<%= markdown(p.body) %>
						<% end %>
					</article>
				<% end %>

			</div>
		</div>
	</div>
<% else %>
<% end %>

	
	

<!-- Edit this post if you have permission -->
<% if policy(@post).edit? %>
	<div class="row">
		<div class="small-12 columns">
			<div class="small-spacer text-center">
				<%= link_to "Edit Post", edit_post_path(@post), class: "pink-link-center" %>
			</div>
		</div>
	</div>
<% end %>