<div class="row" id="blog-post">
	<div class="small-12 medium-10 medium-centered columns big-spacer-top">
		<article>

			<!-- Title, Date, and Tags -->
			<header>

				<h2><%= markdown @post.title %></h2>
				<p class="post-references"><%= @post.created_at.strftime("%B %d, %Y") %> <em class="divider">|</em> <em class="tags"><%= @post.tag_list %></em></p>
			</header>
			
			<!-- Blog Post Content -->
			<div id="blog-content">
				<%= markdown @post.body %>
			</div>

		</article>
	</div>
</div>

<div class="similar-posts">

</div>

<div class="row">
	<div class="small-12 columns">
		<div class="small-spacer text-center">
			<% if policy(@post).edit? %>
				<%= link_to "Edit Post", edit_post_path(@post), class: "pink-link-center" %>
			<% end %>
		</div>
	</div>
</div>