<div id="nav">
	<div class="fixed">
		<div class="contain-to-grid">
			<nav class="top-bar" data-topbar>
				<ul class="title-area">
					<li class="name">
						<h1><%= link_to "Lauralee Flores", root_path %></h1>
					</li>
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
				</ul>

				<section class="top-bar-section">
					<!-- Right Nav Section -->
					<ul class="right">
						<li class="<%= 'active' if controller.controller_name == 'feedbacks' %>"><%= link_to "Feedback", new_feedback_path %></li>
						<li class="<%= 'active' if current_page?(training_path) %><%= 'active' if current_page?(freeimages_path) %><%= 'active' if current_page?(about_me_path) %>"><%= link_to "Training", training_path %></li>
						<li class="has-dropdown <%= 'active' if current_page?(edit_user_registration_path) %>">
							<% if current_user %>
								<%= link_to "#{ current_user.name.present? ? current_user.name : current_user.email}", "#" %>
									<ul class="dropdown">
										<li><%= link_to "My Account", edit_user_registration_path %></li>
										<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
									</ul>
							<% else %>
								<li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to "Sign Up", new_user_registration_path %></li>
							<% end %>
						</li>
					</ul>
				</section>
			</nav>
		</div>
	</div>
</div>